.card{
    display:flex;
    justify-content: center;
    align-items:center;
    position: relative;
    border-radius: .25rem;
    box-shadow: 0 0 5px 2px  rgba(0,0,0,.3);
    height:300px;
    width:300px;
    cursor:pointer;
    transform-style: preserve-3d; /*so that we get a 3d flip feel*/
    transition: 150ms; /*To actually have an effect show*/
    transform: perspective(1000px) rotateY(var(--rotate-y,0)) translateY(var(--translate-y,0)); /*a variable is taken into consideration and 0 is assigned*/
    /*perspective is used for giving a 3d look to the animation*/
}

.card:hover{
    --translate-y: -2px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,0.5);
}
.card.flip{
    --rotate-y: 180deg; /*once it flip is true, we assign the variable as 180 degrees.*/
}
.card .front, 
.card .back {
    position:absolute;
    padding: 1rem;
    backface-visibility: hidden; /*To hide the backside, we use the method.*/
}

.card .back{
     transform: rotateY(180deg); /*backside of the card is now mirrored. */
}

button{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}